{% extends 'layout.html.twig '%}

{% block title %}Error 404{% endblock %}

{% block top_bar %}
{% endblock %}

{% block left_bar %}
{% endblock %}

{% block main %}
  <h1>ERROR 404</h1>
{% endblock %}
