{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Inscription{% endblock %}

{% block main %}

<div class="">
    <h1>Tuto VueJS</h1>
</div>

{% verbatim %}
  <div id="app">

    {{ persons }}

    <button @click="addPerson">Ajouter une personne</button>

  </div>
{% endverbatim %}

{# suivre cette video #}
{# https://www.youtube.com/watch?v=XkgiXngcpWk je suis a 11:28 min #}


{% endblock %}

{% block javascripts %}
  {{ parent () }}
  <script src="https://unpkg.com/vue"></script>
  <script src="Assets/js/vuejs.js" charset="utf-8"></script>
{% endblock %}
